<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <h1 class="display-6"> <i class="far fa-address-card"></i> Cadastro de Contas</h1>
      <hr>
      <form>
        <div class="agencia">
          <label for="exampleInputAgencia" class="form-label">Agência</label>
          <input type="text" class="form-control" id="exampleInputCpf" aria-describedby="agenciaHelp" placeholder="Digite a agência.">
        </div>
        <br>
        <div class="conta">
          <label for="exampleInputConta" class="form-label">Conta</label>
          <input type="text" class="form-control" id="exampleInputConta" aria-describedby="contaHelp" placeholder="Digite o número da conta.">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">+ Cadastrar</button>
      </form>
    </div>
  </div>
</div>
