<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <h1 class="display-6"> <i class="fas fa-hand-holding-usd text-warning"></i> Listagem de Contas</h1>
      <hr>
      <!--<a class="btn btn-dark" routerLink="cadastrar">Nova Conta</a>-->
      <br>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Agência</th>
            <th scope="col">Número</th>
            <th scope="col"><i class="fas fa-coins"></i> Saldo</th>
            <th scope="col"><i class="fas fa-user"></i> Cliente</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let conta of contas">
            <td>{{conta.id}}</td>
            <td>{{conta.agencia}}</td>
            <td>{{conta.numero}}</td>
            <td>{{conta.saldo | currency: 'BRL'}}</td>
            <td>{{conta.cliente.nome}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
