<div class="container wrapper" >
  <div class="row">
    <div class="feature col">
      <div class="text-block">
        <h3>TREINAMENTO JAVA ANGULAR -   <img src="https://www.indracompany.com/sites/default/files/d7/Nueva_Marca/kit_de_prensa/Imagenes_multimedia/logotipo_indra_version_secundaria.jpg" class="img-thumbnail" alt="" width="70"> </h3>
        </div>
        <!--------- INICIO NAVBAR ----------->
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
          <div class="container-fluid">
            <a class="navbar-brand" routerLink='/homepage'><i class="fas fa-university"></i> Banco Angular</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown2" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
              <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Cliente
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink='/clientes'>Lista de Clientes</a></li>
                  <li><a class="dropdown-item" routerLink='/clientes/cadastrar'>Cadastrar Clientes</a></li>
                </ul>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Conta
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink='/contas'>Lista de Contas</a></li>
                  <li><a class="dropdown-item" routerLink='/contas/cadastrar'>Cadastrar Conta</a></li>
                </ul>
              </div>
              <div class="saque">
                <a class="btn btn-success" routerLink='/caixa-eletronico/saque'> <i class="fas fa-coins"></i> - Saque</a>
              </div>
              <div class="deposito">
                <a class="btn btn-success" routerLink='/caixa-eletronico/deposito'> <i class="fas fa-coins"></i> + Depósito</a>
              </div>
              <div class="transferencia">
                <a class="btn btn-success" routerLink='/caixa-eletronico/transferencia'> <i class="fas fa-comments-dollar"></i> Transferência</a>
              </div>
              <div class="extrato">
                <a class="btn btn-primary" routerLink='/caixa-eletronico/extrato'> <i class="fas fa-file-medical-alt"></i> Extrato</a>
              </div>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown"></div>
            </div>

        </nav>
    </div>
  </div>
</div>
